.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item {
  margin-bottom: 12px;
}

.todo-item .todo-input {
  font-weight: 300;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 25px 10px 55px;
  outline: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #E5E7EB;
  width: 100%
}

.Todo__Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%
}

.header {
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #E5E7EB;
  border-right: 1px solid #E5E7EB;
  border-bottom: 1px solid #E5E7EB;
  border-top: 3px solid #2563EB;
  margin-bottom: 5px;
  border-radius: 10px
}

.header h2 {
  padding-left: 25px;
  letter-spacing: 0.5px;
}

.todo-container {
  width: 100%;
}

.todo-container .todo-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
  background-color: #F3F4F6;
  padding: 5px 0;
  border-radius: 5px
}

.record span:first-child {
  padding-left: 25px;
}

.record span:last-child {
  padding-right: 25px;
}